:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;

  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.App {
  padding-top: 80px;
  text-align: center;
}
