.footer {
  text-align: center;

  margin: 60px;
}

.footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
.contact-Button {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
a {
  text-decoration: none;
  color: var(--branding-color);
}
p {
  font-size: 14px;
  margin-top: 18px;
}
.social-Media {
  font-size: 18px;
  margin-top: 20px;
}
@media (max-width: 720px) {
  .footer .contact-Button {
    font-size: 15px;
  }
  p {
    font-size: 13px;
  }
}
