a {
  color: black;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-right: 15px;
}
.logo {
  margin-left: 50px;
  margin-top: 10px;
}
.nav-container {
  background-color: #fff0f5;
}
